@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
   Arial, Helvetica, sans-serif;
}


/* Ensure the html and body take full height */
html, body, :root {
  height: 100%;
}


/* scrollbar styling */
::-webkit-scrollbar {
  width: 8px;           /* width of the scrollbar */
  height: 12px;          /* height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #e0e0e0;   /* gray line / track */
  border-radius: 10px;    /* rounded edges (optional) */
}

::-webkit-scrollbar-thumb {
  background-color: #031222;  /* blue bar */
  border-radius: 10px;         /* rounded edges */
  border: 3px solid #383737;  /* optional spacing around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #083252;   /* darker blue on hover */
}




/* hide scrollbar ONLY for elements with .scrollbar-hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}


